* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .login-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* 이미지를 화면에 맞춤 */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 투명도 있는 오버레이 */
    z-index: 2;
  }
  
  .login-container {
    position: absolute;
    top: 50%; /* 중앙에 위치하도록 */
    left: 50%; /* 중앙에 위치하도록 */
    transform: translate(-50%, -50%); /* 완전히 중앙 정렬 */
    z-index: 10; /* 슬라이더와 오버레이보다 위에 위치 */
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.7); /* 90% 투명도 설정 */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.7em;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .login-button {
    padding: 15px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .account-options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .signup-button, .delete-account-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e7d32;
    color: white;
    cursor: pointer;
  }
  
